#aboutme {
  width: 100%;
  color: white;
  padding: 0px 0px;
}

.myself {
  /* border: 2px solid white; */
  width: 100%;
  height: 100%;
  padding: 20px 0;
  color: white;
}

.myself-cont {
  /* border: 2px solid skyblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.myself1 {
  /* border: 2px solid red; */
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  background: linear-gradient(to right top, #4f13c6, #be5c38, #9d404d, #6b3351, #392840);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

.myself2 {
  /* border: 2px solid yellow; */
  width: 95%;
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

.myself2 img {
  /* width: 300px; */
  /* border: 2px solid red; */
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  /* margin-left: 60px; */
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  z-index: 1;
}

.myself2 img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #da871b;
}

.myself3 {
  /* border: 2px solid purple; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  line-height: 1.6;
  font-size: 18px;
  z-index: 1;
}

.myself3-t1 {
  text-align: justify;
  border-left: 4px solid #8a4225;
  padding-left: 15px;
  z-index: 1;
}


@media (max-width: 991px) {
  .myself1 {
    font-size: 26px;
  }

  .myself2 img {
    width: 250px;
    height: 300px;
  }

  .myself3 {
    font-size: 16px;
  }
}

