.contact-container {
    /* border: 2px solid white; */
    min-height: 100vh;
    padding: 60px 40px;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
}

.contact-main-title {
    /* border: 2px solid red; */
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #8b5cf6;
    margin-bottom: 60px;
}

.contact-wrapper-box{
    /* border: 2px solid lightgreen; */
    justify-items: center;
}

.contact-wrapper {
    /* border: 2px solid green; */
    max-width: 1200px;
    margin: auto;
}

.contact-left {
    /* border: 2px solid blueviolet; */
    padding-right: 30px;
}

.contact-title {
    /* border: 2px solid orange; */
    font-size: 36px;
    color: #60a5fa;
    margin-bottom: 10px;
}

.contact-subtitle {
    /* border: 2px solid yellow; */
    color: #cbd5f5;
    margin-bottom: 30px;
}

.contact-info {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.info-item {
    /* border: 2px solid oldlace; */
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-box {
    /* border: 2px solid greenyellow; */
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background: linear-gradient(135deg, #7c3aed, #4f46e5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RIGHT FORM */
.contact-right {
    /* border: 2px solid magenta; */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    padding: 35px;
    backdrop-filter: blur(12px);
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 15px;
    color: white;
}

.contact-right textarea {
    height: 140px;
    resize: none;
}

.contact-right button {
    /* border: 2px solid red; */
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #3b82f6, #8b5cf6);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* RESPONSIVE FIX */
@media (max-width: 768px) {
    .contact-left {
        padding-right: 0;
        margin-bottom: 40px;
        text-align: center;
    }

    .info-item {
        justify-content: center;
    }
}