.project-container {
    /* border: 2px solid white; */
    min-height: 75vh;
    padding: 60px 40px;
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: white;
}

.project-title {
    /* border: 2px solid red; */
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #8b5cf6;
    margin-bottom: 50px;
}

.project-card {
    /* border: 2px solid yellow; */
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 18px;
    overflow: hidden;
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 40px rgba(139, 92, 246, 0.6);
}

.project-img {
    /* border: 2px solid green; */
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-content {
    /* border: 2px solid yellow; */
    padding: 25px;
}

.project-content h2 {
    /* border: 2px solid whitesmoke; */
    font-size: 22px;
    margin-bottom: 10px;
}

.project-content p {
    /* border: 2px solid orange; */
    font-size: 14px;
    color: #cbd5f5;
    line-height: 22px;
}

.tech-stack {
    /* border: 2px solid lightcoral; */
    margin: 18px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-stack span {
    /* border: 2px solid lightgreen; */
    padding: 6px 14px;
    border-radius: 20px;
    background: rgba(139, 92, 246, 0.15);
    color: #c4b5fd;
    font-size: 13px;
}

.code-btn {
    /* border: 2px solid lightcyan; */
    display: block;
    width: 100%;
    text-align: center;
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background: linear-gradient(135deg, #7c3aed, #4f46e5);
    transition: 0.3s;
}

.code-btn:hover {
    box-shadow: 0 0 20px rgba(124, 58, 237, 0.7);
    transform: translateY(-2px);
}