.skills-background {
    min-height: 100%;
    padding-bottom: 50px;
}

.mobileAnim {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    /* margin-bottom: 40px; */
}

.skill-card {
    background: #111827;
    padding: 25px;
    border-radius: 18px;
    border: 1px solid #1f2937;
    transition: 0.3s ease;
    height: 100%;
    position: relative;
    z-index: 1;
}

.skill-card:hover {
    border-color: #4f46e5;
    transform: translateY(-5px);
}

.skill-card h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 22px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.skill-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skill-tags span {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #1f2937;
    padding: 8px 14px;
    border-radius: 12px;
    font-size: 14px;
    color: #d1d5db;
    border: 1px solid #374151;
    transition: 0.2s ease;
}

.skill-tags span:hover {
    background: #4f46e5;
    color: white;
    border-color: #4f46e5;
}
.skills-icons-front{
    font-size: 25px;
}
.skills-icons-front1{
    font-size: 27px;
    color: #60A5FA;
}
.skills-icons-front2{
    color: #4ADE80;
}
.skills-icons-front3{
    font-size: 27px;
    color: purple;
}
.skills-icons-front4{
    color: orange;
}
.skills-icons-front5{
    color: palevioletred;
}
.skills-icons-front6{
    color: yellow;
}
